/*! Melanie Boncaro - 2023
    Style for portfolio work pages
 */

h2 {
    font-weight: 400;
    margin-top: 0;
}

.work_wrapper {
    display: grid;
    /*! margin-top  navbar  title  intro content  margin-bottom */
    grid-template-rows: 40px auto auto auto auto 40px;
    /*! margin-left  content  margin-right */
    grid-template-columns: 40px 1fr 40px;
    grid-template-areas: (
        ". . ."
        ". navbar ."
        ". title ."
        ". content_1 ."
        "full full full"
        ". . ."
        ". content_2 ."
    );
}

.navbar {
    grid-area: navbar;
}

.work_title {
    grid-area: title;
    background-color: #e1c6c6;
    margin-top: 32px;
    padding: 24px;
    border-radius: 16px;

    h1 {
        margin-bottom: 0;
        font-weight: 800;
        font-size: 64px;
        line-height: 64px;
    }
    
}

#dq_title {
    background-color: #3FA3DF;
    background-image: url(/assets/dq_banner.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.intro {
    grid-area: intro;
    padding-block: 32px;
}

#dq_content_1 {
    grid-area: content_1;
}

.work_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block: 40px;
}

#dq_full_1 {
    grid-area: full;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-areas: (
        ". text ."
    );
    background-color: #3FA3DF;
    color: #ffffff;
    min-height: 400px;
}

#dq_content_2 {
    grid-area: content_2;
}

.text_in_full {
    grid-area: text;
}

.img {
    max-height: 500px;
    border: 2px solid lightgrey;
    border-radius: 8px;
}

@media screen and (min-width: 1000px) {
    .work_section {
        padding-inline: 10%;
    }
    #dq_full_1 {
        padding-inline: 10%;
    }
}

@media screen and (max-width: 600px) {
    .work_wrapper {
        grid-template-rows: 20px auto auto auto auto 20px;
        grid-template-columns: 20px 1fr 20px;
    }
    .work_title h1 {
        font-size: 56px;
    }
}