/*! Melanie Boncaro 
    Portfolio main style
    2023 */

html
    scroll-behavior: smooth

body
    margin: 0
    font-family: 'Rubik', sans-serif

p
    font-size: 18px
    line-height: 26px
    margin-block: 12px

a
    text-decoration: none
    color: #a7a7a7
    transition: 200ms ease
a:hover
    text-decoration: underline
    color: #000
    font-weight: 600


// button
//     margin-top: 24px
//     padding: 16px 24px
//     border: none
//     border-radius: 8px
//     font-size: 14px

.deck_btn
    // background-color: #e8ecee
    display: block
    // flex-direction: column
    width: fit-content
    // height: 44px
    margin-top: 16px
    // padding: 32px
    border: 2px solid #d2d2d2
    border-radius: 8px
    // box-shadow: 4px 4px #4d98d8
    transition: 300ms ease

.deck_btn:hover
    // background-color: #d6dadc
    box-shadow: 4px 4px #4d98d8
    border: 2px solid #000

.deck_link
    // display: block
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    // width: 100%
    // height: 100%
    padding: 8px 24px
    font-size: 14px
    text-decoration: none
    color: #000
    b
        font-weight: 600



/*! Grid Nonsense */
.home_wrapper
    height: 100vh
    display: grid
    grid-template-columns: 40px auto 40px
    grid-template-rows: 40px 1fr 2fr 40px
    grid-template-areas: ". . ." ". header ." "work work work" " . . ."

.header
    grid-area: header

    h1
        margin-bottom: 0
        font-weight: 800
        font-size: 64px
        line-height: 64px


.navbar
    display: flex
    justify-content: space-between

    a
        text-decoration: none
        color: #a7a7a7
        font-weight: 400
        transition: 200ms ease
    a:hover
        font-weight: 500
        color: #000000

#name_link
    font-weight: 600
#extras_link, #contact_link, #resume_link
    padding-left: 20px

/*! Hide home/name and work link only when on home page */
.home_body
    overflow: scroll

    #name_link
        visibility: hidden
    #work_link
        visibility: hidden


/*! Scrollable work section on home/work page */
.work_collection
    grid-area: work
    display: flex
    gap: 32px
    width: 100%
    padding: 16px 0 16px 0
    overflow: scroll
    scrollbar-width: thin

    div:not(:first-child, :last-child) 
        /*! avoids spacer divs */
        background-color: #3FA3DF
        // display: flex
        // flex-shrink: 0
        min-width: 250px
        // width: 300px
        width: 100%
        // height: 100%
        // padding-bottom: 32px
        border-radius: 16px
        // align-content: start
        // flex-direction: column-reverse
        background-position: center center
        transition: 200ms ease

    div:nth-child(1 of .card)
        animation: .8s ease 1.6s slideleft both
    div:nth-child(2 of .card)
        animation: .8s ease 1.8s slideleft both
    div:nth-child(3 of .card)
        animation: .8s ease 2s slideleft both
    div:nth-child(4 of .card)
        animation: .8s ease 2.2s slideleft both
    div:nth-child(5 of .card)
        animation: .8s ease 2.4s slideleft both

    div:not(:first-child, :last-child):hover
        box-shadow: 2px 4px 8px #00000067
        translate: 0 -10px

    .spacer
        width: 8px
        flex-shrink: 0

    a
        color: #fff
        text-decoration: none
        width: 100%
        height: 100%
        display: flex
        flex-direction: column-reverse

    h2
        // writing-mode: sideways-lr
        // transform: rotate(-90deg)

        font-weight: 600
        // padding-bottom: 32px
        padding-inline: 16px
        margin-block: 4px

    p
        font-size: 1em
        padding-inline: 16px
        margin-top: 4px


    .card
        background-size: cover


    #alche_card
        background-image: linear-gradient(#92d81845 70%, #6fa90bbc), url("/assets/alchemedia/wires.jpg")
        // background-image: linear-gradient(#92d8182e 75%, #92d8189e), url("/assets/alchemedia/cauldron.gif")
        background-color: #92d818
        a
            color: #fff
            // text-shadow: 1px 1px 8px #00000080

    #dq_card
        background-image: linear-gradient(#1670d106 70%, #084e80bc), url("/assets/dq_card.webp")
        background-color: #3FA3DF
        background-position: left center
        overflow: hidden
        a
            color: #fff
            // text-shadow: 1px 1px 8px #00000080

    #id_card
        background-image: url("/assets/id_card.webp")
        background-color: #536375
        background-position: left center
        overflow: hidden
        a
            color: #fff
            text-shadow: 1px 1px 8px #00000080

    #webster_card
        background-image: linear-gradient(#f2feff06 70%, #1b929dbc), url("/assets/webster_mockup.webp")
        a
            // color: #000
            // text-shadow: 1px 1px 8px #0000003e
            // text-shadow: 1px 1px 8px #00000080

    #quill_card
        background-image: url("/assets/quill_card.png")
        background-color: #85CACD
        a
            color: #000
            // text-shadow: 1px 1px 8px #0000003e

    #swirl_card
        background-image: linear-gradient(#fbcc55df, #ffc42ff4), url("/assets/swirl_letters.webp")
        background-color: #fbcc55
        a
            color: #000
            text-shadow: 1px 1px 8px #0000003e

    
    #svela_card
        background-color: #739A42
        background-image: url("/assets/svela/cover.jpg")
        // background-blend-mode: screen

    #mold_card
        // background-image: linear-gradient(#311d4975 70%, #241731d6), url("/assets/mold/mold.gif")
        // background-color: #2b2235
        // background-blend-mode: screen

        background-image: linear-gradient(#8c5fc0b2 5%, #27153b0b 60%, #3b0677d7), url("/assets/mold/table_close.jpg")
        background-color: #27153b

    #rock_card
        background-image: linear-gradient(#e768ac64, #E11F8500 20%, #E11F8500 70%, #ee038091), url("/assets/rocks/zine.jpg")
        background-color: #27153b


    .in-prog
        color: #ffdab4

@keyframes slideleft
    0%
        transform: translateX(100px)
        opacity: 0
    100%
        transform: translate(0px)
        opacity: 1



.other_projects_section
    padding: 32px 15%

    .holder
        display: flex
        flex-direction: column
        // gap: 20px
        // display: grid
        // grid-template-columns: auto
        margin-block: 48px

    .related_link
        border-bottom: 1px solid #000
        background-color: none
        // transition: 200ms ease


        a
            // background-color: blue
            display: flex
            align-content: center
            display: block
            width: 100%
            height: 100%
            height: 56px

    .related_link:hover
        background-color: #ececec

        a
            text-decoration: none


    // .holder
    //     display: flex
    //     flex-direction: row
    //     justify-content: space-between
    //     gap: 20px

    // .related_link
    //     border: 2px solid #d2d2d2
    //     width: 100%
    //     height: fit-content
    //     padding-bottom: 16px
    //     border-radius: 8px
    //     text-align: center
    //     transition: 200ms ease

    //     a
    //         width: 100%
    //         color: #000
    //         text-decoration: none
    //         font-size: 18px
    //         font-weight: 400
    //         transition: 200ms ease


    //     .image
    //         width: 100%
    //         height: 200px
    //         margin-bottom: 16px
    //         border-radius: 6px 6px 0 0
    //         background-size: cover
    //         background-position: center
    //         // filter: grayscale(70%)
    //         transition: 200ms ease

    //     .dq_image
    //         background-image: linear-gradient(#3589bd80, #3891c8d0), url("assets/dq_card.webp")
    //     .id_image
    //         background-image: linear-gradient(#a591c25e, #67317e98), url("assets/id_card.webp")
    //     .swirl_image
    //         background-image: linear-gradient(#fbcc55df, #ffc42ff4), url("assets/swirl_letters.webp")
    //     .webster_image
    //         background-image: linear-gradient(#83dae963, #2eacbfb9), url("assets/webster_mockup.webp")
    //     .quill_image
    //         background-image: linear-gradient(#c4e0e199, #50dadfb3), url("assets/quill_card.png")
    //         background-position: top
    //     .alche_image
    //         background-image: linear-gradient(#92d81845 70%, #92d818bc), url("assets/alchemedia/stand.jpg")

    //     .svela_image
    //         background-image: linear-gradient(#e7c62414, #e7c7245d), url("/assets/svela/cover.jpg")
    //         background-color: #739A42

    //     .mold_image
    //         // background-color: #2b2235
    //         // background-image: linear-gradient(#311d4975 70%, #241731d6), url("/assets/mold/mold.png")
    //         background-image: linear-gradient(#4c0d9492, #27153b26 85%, #3908717e), url("/assets/mold/table_wide.png")
    //         // background-image: url("/assets/mold/table_close.jpg")
    //         background-color: #27153b

    // .related_link:hover
    //     border: 2px solid #000
    //     box-shadow: 6px 6px #4d98d8

    //     a
    //         font-weight: 600

    //     .image
    //         filter: grayscale(0%)




.footer
    display: flex
    justify-content: center
    padding: 32px 40px
    text-align: center

    p, a
        font-size: 14px
    a
        text-decoration: none
        color: #a7a7a7
        transition: 200ms ease
    a:hover
        text-decoration: underline
        color: #000
        font-weight: 600



.extras_body
    margin: 40px
.extras_section
    margin-block: 40px 100px
.extras_holder
    display: flex
    flex-direction: row
    // flex-wrap: nowrap
    flex-wrap: wrap
    gap: 20px
    // width: 100%
    // overflow-x: scroll

    div
        // height: 200px

        img, video
            // height: 500px
            // max-width: 90vw
            width: 100%
            max-height: 20rem
            flex-grow: 1
            object-fit: cover
            

// .extras_item
//     img, video
//         height: 100%
.contact_wrapper
    margin: 40px
.contact_main
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    // padding-top: 200px
    margin-block: 15rem


/* Small screens */
@media screen and (max-width: 600px)
    #extras_link, #contact_link, #resume_link
        padding-left: 8px

    .home_wrapper 
        grid-template-columns: 20px auto 20px
        grid-template-rows: 20px 1fr 2fr 20px
    
    .contact_wrapper
        margin: 24px
    
    .header h1
        margin-top: 32px
        font-size: 56px
    
    .work_collection
        gap: 20px

        .spacer
            width: 1px

    .other_projects_section
        padding: 32px 20px

        // .holder
        //     flex-direction: column

        // .related_link
        //     padding-bottom: 8px
        //     .image
        //         height: 120px
        //         margin-bottom: 8px

    .extras_body
        margin: 24px

    .extras_holder div
        img, video
            height: 300px

    .extras_section
        margin-top: 50px


/* Medium screens */
@media screen and (max-width: 1200px)
    .other_projects_section
        padding-inline: 40px
