/*! Melanie Boncaro - 2023
    Style for portfolio work pages
 */

.back_btn
    position: fixed
    top: 24px
    right: 24px
    z-index: 3
    font-size: 28px
    // background-color: #ffffffb4
    border-radius: 100px

    div
        width: 48px
        height: 48px
        display: flex
        justify-content: center

    a
        width: 100%
        text-decoration: none
        color: #000

// .down_holder
//     height: 100%

@keyframes upAndDown
    0%
        top: 0
    50%
        top: 20px
    100%
        top: 0

.down_arrow
    position: relative
    width: 48px
    margin-top: 48px
    // animation-iteration-count: infinite
    // animation-name: upAndDown
    animation: upAndDown 1.6s ease infinite


.work_wrapper
    padding: 40px
    
    // display: grid
    // grid-template-columns: 1fr 1fr

    h1
        font-size: 48px
        margin-bottom: 8px
    // h2
        // font-size: 32px
        // font-weight: 400
    h3
        font-size: 18px
        font-weight: 400
        margin-top: 0
        color: #a4a4a4

    p
        font-size: 20px

    // .spacer
    //     height: 100px

.work_heading
    display: flex
    flex-direction: row

.work_header, .work_banner
    height: 90vh
    display: flex
    flex-direction: column
    justify-content: center

.work_header
    padding-left: 40px

.work_banner
    width: 50%
    background-position: center
    background-size: cover
    border-radius: 16px

.work_section
    margin: 120px 15%
    display: flex
    column-gap: 72px

.horizontal
    flex-direction: row
    div
        width: 50%
    .work_desc
        // padding-left: 64px
.vertical
    flex-direction: column
    .content
        margin-block: 24px

.center
    padding-inline: 15%
    justify-content: center
    // background-color: #e6e9ed

.work_desc
    display: flex
    flex-direction: column
    justify-content: center
    // padding-inline: 64px
    max-width: 800px

    h2
        font-size: 32px

    li
        font-size: 18px
        line-height: 28px


// .work_desc, .content
//     padding-block: 150px

.content
    // background-color: #c9e0ee
    // padding-top: 100px
    display: flex
    // flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 16px
    // width: 50%
    
    img, video
        // max-width: 100%
        // max-height: 100%
        width: 100%
        height: min-content
        // max-height: 90vh
        // height: 100%
        border-radius: 8px
        // object-fit: contain
        // padding-inline: 20px
    
    .shadow
            box-shadow: 0 2px 8px #00000063

    .gallery
        display: flex
        flex-direction: row
        justify-content: center
        // flex-wrap: wrap
        gap: 16px
        padding-inline: 16px
        // img
        //     width: 45%
        
/*! Heuristic images positioning */
#he_img, #vd_img
    flex-direction: column

#h_preview1
    width: 85%
    position: relative
    top: 70px

#h_preview2
    width: 85%
    position: relative
    top: -70px
    left: 40px

#he_txt ul
    margin-top: 0

.end_cap
    border-radius: 16px
    background-size: cover
    // transform: rotate(180deg)


/*! Custom colors for work pages */
.dq_wrapper
    .work_banner
        background-image: url("/assets/dq/dq_banner.png")
        background-color: #3FA3DF
    // .content
    //     background-color: #3FA3DF
    .end_cap
        background-color: #3FA3DF
        background-image: url("/assets/dq/wavylines.png")

.id_wrapper
    .work_banner
        background-image: linear-gradient(#53637500 85%, #536375), url("/assets/id/id_banner.png")
        background-color: #536375
    // .content
    //     background-color: #536375
    .end_cap
        background-image: linear-gradient(#536375, #53637500, #53637500), url("/assets/id/id_pattern.png")
        background-color: #536375
        background-position: bottom

.swirl_wrapper
    .work_banner
        // background-image: url("/assets/dq/dq_banner.png")
        background-image: linear-gradient(#ffbf1fde, #fff3d5), url("/assets/swirl_letters.webp")
        background-color: #fff3d5
    // .content
    //     background-color: #fff3d5
    .end_cap
        background-image: linear-gradient(#fff3d5, #ffbf1fde), url("/assets/swirl_letters.webp")
        // background: linear-gradient(#fff3d5, #fbcc55)

.webster_wrapper
    .work_banner
        background-image: linear-gradient(#72bfd400 85%, #72bfd4), url("/assets/webster_site/cover.png")
        background-position: left
        background-color: #72bfd4
    // .content
    //     background-color: #72bfd4
    .end_cap
        background-color: #72bfd4

.quill_wrapper
    .work_banner
        background-image: linear-gradient(#ffffff00 85%, #fff), url("/assets/quillink/mockup.jpg")
        background-position: left
        background-color: #6bd5db
        border: 1px solid #000
    .end_cap
        border-inline: 1px solid #000
        border-bottom: 1px solid #000
        background: linear-gradient(#ffffff00, #6bd5db)

.alche_wrapper
    .work_banner
        // background-image: linear-gradient(#7fbc1510 90%, #7fbc1581), url("/assets/alchemedia/standDark.jpg")
        background-image: url("/assets/alchemedia/standDark.jpg")
        // border-bottom: 5px solid #7fbc15
        // border-right: 5px solid #7fbc15
        box-shadow: 6px 6px #92d818



/* Small Screens */
@media screen and (max-width: 800px)
    .back_btn
        top: 10px
    p
        font-size: 18px
    
    .work_wrapper
        // grid-template-columns: 1fr
        padding: 24px
    .work_heading
        flex-direction: column
        height: 90vh
        padding-top: 56px
    .work_banner
        // height: 200vh
        width: 100%
    .work_header
        // height: 30vh
        padding: 0
        margin-top: 24px
        align-items: center
        text-align: center
        justify-content: start
    .work_section
        margin: 0 0
        column-gap: 24px

    .horizontal div
        width: 100%
    .horizontal.normal
        flex-direction: column
    .horizontal.reverse
        flex-direction: column-reverse
    .center
        padding-inline: 0

    .work_desc
        // padding-bottom: 0
        // padding-left: 0
        // padding: 150px 0 32px 0
        // padding-inline: 8px
    .content
        border-radius: 16px
        // padding-block: 20px
        margin-top: 24px

/* Medium Screens */
@media screen and (max-width: 1200px)
    .work_section
        margin: 100px 0

/* Larger Screens */
@media screen and (min-width: 1200px)
    .work_wrapper h1
        font-size: 64px
    .work_desc, .work_header
        // padding-inline: 100px 200px
    .content
        gap: 32px