/*! Melanie Boncaro - 2023
 *  Style for portfolio work pages
 * */
.back_btn {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 3;
  font-size: 28px;
  border-radius: 100px;
}
.back_btn div {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}
.back_btn a {
  width: 100%;
  text-decoration: none;
  color: #000;
}

@keyframes upAndDown {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.down_arrow {
  position: relative;
  width: 48px;
  margin-top: 48px;
  animation: upAndDown 1.6s ease infinite;
}

.work_wrapper {
  padding: 40px;
}
.work_wrapper h1 {
  font-size: 48px;
  margin-bottom: 8px;
}
.work_wrapper h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  color: #a4a4a4;
}
.work_wrapper p {
  font-size: 20px;
}

.work_heading {
  display: flex;
  flex-direction: row;
}

.work_header, .work_banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work_header {
  padding-left: 40px;
}

.work_banner {
  width: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.work_section {
  margin: 120px 15%;
  display: flex;
  -moz-column-gap: 72px;
       column-gap: 72px;
}

.horizontal {
  flex-direction: row;
}
.horizontal div {
  width: 50%;
}
.vertical {
  flex-direction: column;
}
.vertical .content {
  margin-block: 24px;
}

.center {
  padding-inline: 15%;
  justify-content: center;
}

.work_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}
.work_desc h2 {
  font-size: 32px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.content img, .content video {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  border-radius: 8px;
}
.content .shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3882352941);
}
.content .gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding-inline: 16px;
}

/*! Heuristic images positioning */
#he_img, #vd_img {
  flex-direction: column;
}

#h_preview1 {
  width: 85%;
  position: relative;
  top: 70px;
}

#h_preview2 {
  width: 85%;
  position: relative;
  top: -70px;
  left: 40px;
}

.end_cap {
  border-radius: 16px;
  background-size: cover;
}

/*! Custom colors for work pages */
.dq_wrapper .work_banner {
  background-image: url("/assets/dq/dq_banner.png");
  background-color: #3FA3DF;
}
.dq_wrapper .end_cap {
  background-color: #3FA3DF;
  background-image: url("/assets/dq/wavylines.png");
}

.id_wrapper .work_banner {
  background-image: linear-gradient(rgba(83, 99, 117, 0) 85%, #536375), url("/assets/id/id_banner.png");
  background-color: #536375;
}
.id_wrapper .end_cap {
  background-image: linear-gradient(#536375, rgba(83, 99, 117, 0), rgba(83, 99, 117, 0)), url("/assets/id/id_pattern.png");
  background-color: #536375;
  background-position: bottom;
}

.swirl_wrapper .work_banner {
  background-image: linear-gradient(rgba(255, 191, 31, 0.8705882353), #fff3d5), url("/assets/swirl_letters.webp");
  background-color: #fff3d5;
}
.swirl_wrapper .end_cap {
  background-image: linear-gradient(#fff3d5, rgba(255, 191, 31, 0.8705882353)), url("/assets/swirl_letters.webp");
}

.webster_wrapper .work_banner {
  background-image: linear-gradient(rgba(114, 191, 212, 0) 85%, #72bfd4), url("/assets/webster_site/cover.png");
  background-position: left;
  background-color: #72bfd4;
}
.webster_wrapper .end_cap {
  background-color: #72bfd4;
}

.quill_wrapper .work_banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 85%, #fff), url("/assets/quillink/mockup.jpg");
  background-position: left;
  background-color: #6bd5db;
  border: 1px solid #000;
}
.quill_wrapper .end_cap {
  border-inline: 1px solid #000;
  border-bottom: 1px solid #000;
  background: linear-gradient(rgba(255, 255, 255, 0), #6bd5db);
}

.alche_wrapper .work_banner {
  background-image: linear-gradient(rgba(189, 204, 209, 0) 85%, #1c1d1e), url("/assets/alchemedia/stand.jpg");
}

/* Small Screens */
@media screen and (max-width: 800px) {
  .back_btn {
    top: 10px;
  }
  p {
    font-size: 18px;
  }
  .work_wrapper {
    padding: 24px;
  }
  .work_heading {
    flex-direction: column;
    height: 90vh;
    padding-top: 56px;
  }
  .work_banner {
    width: 100%;
  }
  .work_header {
    padding: 0;
    margin-top: 24px;
    align-items: center;
    text-align: center;
    justify-content: start;
  }
  .work_section {
    margin: 0 0;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .horizontal div {
    width: 100%;
  }
  .horizontal.normal {
    flex-direction: column;
  }
  .horizontal.reverse {
    flex-direction: column-reverse;
  }
  .center {
    padding-inline: 0;
  }
  .content {
    border-radius: 16px;
    margin-top: 24px;
  }
}
/* Medium Screens */
@media screen and (max-width: 1200px) {
  .work_section {
    margin: 100px 0;
  }
}
/* Larger Screens */
@media screen and (min-width: 1200px) {
  .work_wrapper h1 {
    font-size: 64px;
  }
  .content {
    gap: 32px;
  }
}/*# sourceMappingURL=workpages.css.map */